1. Description
group_map(), group_modify() and group_walk() are purrr-style functions that can be used to iterate on grouped tibbles.

2. Usage

group_map ( .tbl,  .f,  . . . , keep = FALSE)

group_modify ( .tbl,  .f,  . . . , keep = FALSE)

group_walk( .tbl,  .f,  . . .  )

3. Arguments
.tbl
A grouped tibble

.f
A function or formula to apply to each group. It must return a data frame.

If a function,  it is used as is. It should have at least 2 formal arguments.

If a formula, e.g.  ~ head(.x), it is converted to a function.

In the formular, you can use
         . or .x to refer to the subset of rows of .tbl for the given group
         .y to refer to the key, a one row tibble with one column per grouping variable that identifies the group
         
. . . 
Additional arguments passed on to .f

keep
are the grouping variables kept in .x

4. Details
Use group_modify() when summarize() is too limited, in terms of what you need to do and return for each group. 
group_modify() is good for " data frame in, data frame out". If that is too limited, you need to use a nested or split workflow.
group_modify() is an evolution of do().

Each conceptual group of the data frame is exposed to the function .f with two pieces of information:
            (1) The subset of the data for the group, exposed as .x
            (2) The key, a tibble with exactly one row and columns for each grouping variable, exposed as .y
For completeness, group_modify(), group_map and group_walk() also work on ungrouped data frame, in that case the function is applied to the entire data frame ( exposed as .x ), and .y is a one row tibble with no column, consistently with group_keys().

5. Values

group_modify() returns a grouped tibble. In that case  .f  must return a data frame. 
group_map () returns a list of results from calling .f on each group
group_walk() calls .f for side effects and returns the input  .tbl ,  invisibly

In [5]:
library(dplyr)
library(tibble)
data(mtcars)

rownames_to_column(mtcars) -> mtcars
mtcars

   rowname             mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [4]:
# return a list
mtcars %>% group_by(cyl)  %>% group_map( ~ head(.x  ,  2L ) )

[[1]]
# A tibble: 2 x 11
  rowname      mpg  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <chr>      <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1 Datsun 710  22.8  108     93  3.85  2.32  18.6     1     1     4     1
2 Merc 240D   24.4  147.    62  3.69  3.19  20       1     0     4     2

[[2]]
# A tibble: 2 x 11
  rowname         mpg  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <chr>         <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1 Mazda RX4        21   160   110   3.9  2.62  16.5     0     1     4     4
2 Mazda RX4 Wag    21   160   110   3.9  2.88  17.0     0     1     4     4

[[3]]
# A tibble: 2 x 11
  rowname             mpg  disp    hp  drat    wt  qsec    vs    am  gear  carb
  <chr>             <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1 Hornet Sportabout  18.7   360   175  3.15  3.44  17.0     0     0     3     2
2 Duster 360         14.3   360   245  3.21  3.57  15.8     0     0     3     4

In [10]:
# return a tibble grouped by 'cyl' with 2 rows per group
# the grouping data is recalculated

mtcars %>% group_by( cyl ) %>% group_modify ( ~ head(.x , 2L))

data(iris)
# a list of tibbles
iris %>% group_by( Species ) %>% group_map( ~ broom :: tidy(lm( Petal.Length ~ Sepal.Length, data = .x )))

# a restructed grouped tibble
iris %>% group_by( Species ) %>% group_modify( ~ broom :: tidy(lm( Petal.Length ~ Sepal.Length, data = .x )))

  cyl rowname           mpg  disp  hp  drat wt    qsec  vs am gear carb
1 4   Datsun 710        22.8 108.0  93 3.85 2.320 18.61 1  1  4    1
2 4   Merc 240D         24.4 146.7  62 3.69 3.190 20.00 1  0  4    2
3 6   Mazda RX4         21.0 160.0 110 3.90 2.620 16.46 0  1  4    4
4 6   Mazda RX4 Wag     21.0 160.0 110 3.90 2.875 17.02 0  1  4    4
5 8   Hornet Sportabout 18.7 360.0 175 3.15 3.440 17.02 0  0  3    2
6 8   Duster 360        14.3 360.0 245 3.21 3.570 15.84 0  0  3    4

[[1]]
# A tibble: 2 x 5
  term         estimate std.error statistic p.value
  <chr>           <dbl>     <dbl>     <dbl>   <dbl>
1 (Intercept)     0.803    0.344       2.34  0.0238
2 Sepal.Length    0.132    0.0685      1.92  0.0607

[[2]]
# A tibble: 2 x 5
  term         estimate std.error statistic  p.value
  <chr>           <dbl>     <dbl>     <dbl>    <dbl>
1 (Intercept)     0.185    0.514      0.360 7.20e- 1
2 Sepal.Length    0.686    0.0863     7.95  2.59e-10

[[3]]
# A tibble: 2 x 5
  term         estimate std.error statistic  p.value
  <chr>           <dbl>     <dbl>     <dbl>    <dbl>
1 (Intercept)     0.610    0.417       1.46 1.50e- 1
2 Sepal.Length    0.750    0.0630     11.9  6.30e-16

  Species    term         estimate  std.error  statistic  p.value
1 setosa     (Intercept)  0.8030518 0.34387807  2.3352806 2.375647e-02
2 setosa     Sepal.Length 0.1316317 0.06852690  1.9208760 6.069778e-02
3 versicolor (Intercept)  0.1851155 0.51421351  0.3599974 7.204283e-01
4 versicolor Sepal.Length 0.6864698 0.08630708  7.9538056 2.586190e-10
5 virginica  (Intercept)  0.6104680 0.41710685  1.4635770 1.498279e-01
6 virginica  Sepal.Length 0.7500808 0.06302606 11.9011203 6.297786e-16

In [11]:
# a list of vectors

iris %>% group_by( Species ) %>% group_map(~ quantile(.x$Petal.Length, probs = c( 0.25, 0.5, 0.75  )) )

[[1]]
  25%   50%   75%
1.400 1.500 1.575

[[2]]
 25%  50%  75%
4.00 4.35 4.60

[[3]]
  25%   50%   75%
5.100 5.550 5.875

In [12]:
# to use group_modify() the lambda must return a data frame
iris %>% group_by(Species) %>% 
              group_modify( ~ {
                  quantile( .x$Petal.Length, probs = c(0.25, 0.5, 0.75  )) %>% 
                  tibble::enframe( name = "prob", value = "quantile")
              })

  Species    prob quantile
1 setosa     25%  1.400
2 setosa     50%  1.500
3 setosa     75%  1.575
4 versicolor 25%  4.000
5 versicolor 50%  4.350
6 versicolor 75%  4.600
7 virginica  25%  5.100
8 virginica  50%  5.550
9 virginica  75%  5.875

In [13]:
iris %>% group_by(Species ) %>% 
              group_modify( ~ {
                  .x %>% purrr::map_dfc(fivenum ) %>% 
                  mutate(nms = c( "min", "Q1", "median", "Q3", "max"))
              })

   Species    Sepal.Length Sepal.Width Petal.Length Petal.Width nms
1  setosa     4.3          2.3         1.00         0.1         min
2  setosa     4.8          3.2         1.40         0.2         Q1
3  setosa     5.0          3.4         1.50         0.2         median
4  setosa     5.2          3.7         1.60         0.3         Q3
5  setosa     5.8          4.4         1.90         0.6         max
6  versicolor 4.9          2.0         3.00         1.0         min
7  versicolor 5.6          2.5         4.00         1.2         Q1
8  versicolor 5.9          2.8         4.35         1.3         median
9  versicolor 6.3          3.0         4.60         1.5         Q3
10 versicolor 7.0          3.4         5.10         1.8         max
11 virginica  4.9          2.2         4.50         1.4         min
12 virginica  6.2          2.8         5.10         1.8         Q1
13 virginica  6.5          3.0         5.55         2.0         median
14 virginica  6.9          3.2         5.90         2.3         Q3
15 virginica  7.9          3.8         6.90         2.5         max

In [15]:
#group_walk() is for side effects
dir.create( temp <- tempfile())

iris %>% group_by(Species) %>% 
              group_walk(~ write.csv(.x,  file = file.path(temp,  paste0( .y$Species,   ".csv"))))

list.files ( temp, pattern = "csv$")

unlink(temp, recursive = TRUE)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

[1] "setosa.csv"     "versicolor.csv" "virginica.csv"

In [14]:
#group_modify() and ungrouped data frames

mtcars %>% group_modify( ~ head(.x,  2L))

  rowname       mpg cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4     21  6   160  110 3.9  2.620 16.46 0  1  4    4
2 Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4